<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="navbar-brand" href="/"><%= "#{Configurable.site_title}" %></a>
  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
   

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to new_expense_path do %>
            <i class="fa fa-plus-square-o"></i>
            <span>Add New Expense</span>
          <% end %>
        </li>
     
        <li>
          <%= link_to expenses_path do %>
              <i class="fa fa-list"></i>
              <span>Show All Expenses</span>
          <% end %>
        </li>

        <% if current_user.admin? %>
          <li> 
            <%= link_to admin_configurable_path do %>
              <i class="fa fa-cogs"></i>
              <span>Administrative Settings</span>
            <% end %>
          </li> 
          <li>
            <%= link_to users_index_path do %>
              <i class="fa fa-users"></i>
              <span>User Account Settings</span>
            <% end %>
          </li>
        <% end %>

        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      </ul>
      </div>
    </div>

</nav>

